html {
  /* Now 1rem = 10px */
  /* (62.5% = 10/16 bc by default font-size=16px and we want font-size=10px) */
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-image: linear-gradient(to right bottom, #3e1b80, #a3ecf1);
}

header {
  background-color: #111;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
  padding: 1.6rem 0;
}

main {
  width: 80%;
  margin: 2.4rem auto 6.4rem auto;
}

li {
  list-style: none;
}

.developpers {
}

.developpers li {
  margin-bottom: 3rem;
}

.flex-horizontal {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.8rem;
  margin-bottom: 1.2rem;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sex-logo {
  width: 3rem;
  height: 3rem;
  grid-row: 1 / -1;
  /* grid-column: 1 / -1; */
}

.name {
  font-size: 2rem;
}

.skills {
  display: flex;
  gap: 0.8rem;
}

.skill {
  text-align: center;
  padding: 0.4rem 1rem;
  background-color: #333;
  border-radius: 100px;
  font-size: 1.6rem;
}

.progress {
  height: 1.8rem;
  border-radius: 8px;
}
.progress-bar {
  font-size: 1.6rem;
}
/* .progress-bar span {
  font-size: 2rem;
} */
