html {
  font-size: 40%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 1s;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #444;
  background-image: linear-gradient(to right bottom, #66a80f, #c0eb75);
}

.game {
  position: relative;
  margin: 12.8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
}

.player-section {
  background-color: #f4fce3;
  padding: 2.4rem 3.6rem;
  border-radius: 12px;
}

.player {
  text-transform: uppercase;
  font-size: 6.4rem;
  font-weight: 700;
  color: #66a80f;
}

.secret-word-box {
  height: 12rem;
  padding: 2.4rem;
  border-radius: 12px;
}

.secret-word {
  list-style: none;
  display: flex;
  height: 8rem;
  gap: 3.2rem;
  font-size: 6.4rem;
  font-weight: 600;
  color: #f4fce3;
}

.letter {
  border-bottom: 0.8rem solid #f4fce3;
  width: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  border-radius: 8px;
}

.word-form input {
  padding: 1.2rem 2rem;
  font-size: 3.6rem;
  color: #66a80f;

  border: none;
  border-radius: 8px;
}
.word-form input::placeholder {
  color: #999;
}

.word-form input:focus {
  outline: none;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  border: none;
  text-decoration: none;
  cursor: pointer;

  padding: 1.2rem 2rem;
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;

  transition: all 0.3s;
  background-color: #66a80f;
  color: #f4fce3;
}

.btn:hover,
.btn:active {
  background-color: #f4fce3;
  color: #66a80f;
}

.error-message {
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  font-size: 2.8rem;
  font-weight: 600;
  color: #f4fce3;
}

.alphabet {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  font-size: 6.4rem;
  font-weight: 600;
  color: #f4fce3;
}

.alphabet--letter {
  cursor: pointer;
  grid-column: span 2;
  background-color: #5c940d;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 12px;
}

.alphabet--letter:nth-last-child(8) {
  grid-column: 2 / span 2;
}

.desactivate {
  background-color: #f4fce3;
  color: #5c940d;
  transition: all 0.3s;
  transform: translateY(1px);
  box-shadow: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.remove {
  display: none;
}

.play-again-box {
  position: absolute;
  top: 20%;

  background-color: rgba(244, 252, 227, 0.9);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);

  border-radius: 12px;
  padding: 12.8rem 9.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12.8rem;
  transition: all 2s;
}

.winner {
  font-size: 5.6rem;
  text-transform: uppercase;
  color: #66a80f;
}

#btn--play-again {
  box-shadow: inset 0 0 0 3px #66a80f;
}

.hangman-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 47rem;
  height: 47rem;
  transform: translateX(6.4rem);
}

.structure,
.hangman {
  position: absolute;
  background-color: #f4fce3;
  /* height: 32px; */
}

#structure1 {
  width: 12rem;
  height: 1.2rem;
  top: 84%;
  left: 2.6%;
}
#structure2 {
  width: 1.2rem;
  height: 38rem;
  top: 4%;
  left: 14%;
}
#structure3 {
  width: 20.8rem;
  height: 1.2rem;
  top: 4%;
  left: 14%;
}
#structure4 {
  width: 1.2rem;
  height: 7.6rem;
  top: 4%;
  left: 56.96%;
}

#body1 {
  top: 18%;
  left: 50%;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: none;
  border: 1.4rem solid #f4fce3;
}

#body2 {
  width: 1.4rem;
  height: 12rem;
  top: 34%;
  left: 56.96%;
}

#body3 {
  width: 1.2rem;
  height: 6rem;
  top: 36%;
  left: 50.8%;
  transform: rotateZ(120deg);
}

#body4 {
  width: 1.2rem;
  height: 6rem;
  top: 36%;
  left: 63.2%;
  transform: rotateZ(-120deg);
}

#body6 {
  width: 1.2rem;
  height: 8rem;
  top: 56.6%;
  left: 62.26%;
  transform: rotateZ(-40deg);
}
#body5 {
  width: 1.2rem;
  height: 8rem;
  top: 56.6%;
  left: 52.28%;
  transform: rotateZ(40deg);
}
