<!DOCTYPE html>
<html>
  <head>
    <title>Shozom</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h3 id="logo">Shozom</h3>
      <form class="search-form" action="/result" method="post">
        <input
          id="input-word"
          type="text"
          placeholder="Enter an artist name"
          name="artist"
        />
        <button class="btn" id="btn--search">Search</button>
      </form>
    </header>
  </body>
</html>
