<!DOCTYPE html>
<html>
  <head>
    <title>Food Truck</title>
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="frame">
      <div>
        <img id="truck" src="/images/check.png" alt="" />
      </div>

      <div>
        <h1>Good choise !! Your <%= food %> is ready to eat !</h1>
      </div>
    </div>
  </body>
</html>
