<!DOCTYPE html>
<html>
  <head>
    <title>Food Truck</title>
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="frame">
      <div>
        <img id="truck" src="/images/food-truck.jpg" alt="" />
      </div>

      <div>
        <h1>What do you eat ?</h1>
        <div class="row">
          <a class="link-food" href="/select-food?food=Burger"
            ><img class="food" src="/images/burger.png" />Burger</a
          >
          <a class="link-food" href="/select-food?food=Pop%20Corn"
            ><img class="food" src="/images/popcorn.png" alt="" />Pop Corn</a
          >
          <a class="link-food" href="/select-food?food=French%20Fries"
            ><img class="food" src="/images/french-fries.png" alt="" />French
            Fries</a
          >
          <a class="link-food" href="/select-food?food=Doughnut"
            ><img class="food" src="/images/doughnut.png" />Doughnut</a
          >
        </div>
        <div class="row">
          <a class="link-food" href="/select-food?food=Lemonade"
            ><img class="food" src="/images/soda.png" />Lemonade</a
          >
          <a class="link-food" href="/select-food?food=Chicken%20Fried"
            ><img class="food" src="/images/chicken.png" />Chicken fried</a
          >
          <a class="link-food" href="/select-food?food=Hotdog"
            ><img class="food" src="/images/hotdog.png" />Hotdog</a
          >
          <a class="link-food" href="/select-food?food=Icecream"
            ><img class="food" src="/images/icecream.png" />Icecream</a
          >
        </div>
        <div class="row">
          <a class="link-food" href="/select-food?food=Noodles"
            ><img class="food" src="/images/noodles.png" />Noodles</a
          >
          <a class="link-food" href="/select-food?food=Kecthup"
            ><img class="food" src="/images/ketchup.png" />Ketchup</a
          >
          <a class="link-food" href="/select-food?food=Coffee"
            ><img class="food" src="/images/coffee.png" />Coffee</a
          >
          <a class="link-food" href="/select-food?food=Pizza"
            ><img class="food" src="/images/pizza.png" />Pizza</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
