<!DOCTYPE html>
<html>
  <head>
    <title>Bagels</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h3 class="logo">Bagels</h3>
      <a href="/"><button class="btn btn-primary">Return</button></a>
    </header>
    <main>

      <div class="card-deck">
             <%
        for(var i=0; i<bagels.length; i++){
          %>
          <div class="card">
            <img class="card-img-top" src="<%= bagels[i].urlImage %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= bagels[i].name %></h5>
              <p class="card-text"><%= bagels[i].description %></p>
            </div>
          </div>


          <%
        }
        %>

      </div>
    </main>

    <script>
      src =
        "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js";
      integrity =
        "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM";
      crossorigin = "anonymous";
    </script>
  </body>
</html>
