* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 100vh;
  background-color: #ddd;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #222;
}

#game {
  position: relative;
  width: 60vw;
  height: 80vh;
  background-color: rgb(73, 160, 62);
  border: 20px solid rgb(141, 58, 32);
  position: relative;
}

#player {
  width: 8%;
  position: absolute;
  transform: translate3d();
  z-index: 10;
}

#star {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
}
