<!DOCTYPE html>
<html>
  <head>
    <title>Who are you ?</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <h1><img class="picto" src="/images/user.png"> What's your name ?</h1>
      <form action="/pageTwo" method="POST">
        <input class="input" type="text" name="firstName"> 
        <input class="btn" type="submit" value="OK">
      </form>
   
  </body>
</html>
