<!DOCTYPE html>
<html>
  <head>
    <title>Who are you ?</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>
      <img id="robot" src="/images/hello.png" /> <%= name %> ! How are you ?
    </h1>
    <a class="btn" href="/pageTree">Next page</a>
  </body>
</html>
