<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap"
      rel="stylesheet"
    />
    <title>BikeShop - Shop</title>

    <script
      src="https://kit.fontawesome.com/4901497cb9.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- header -->
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar" id="header-logo" href="/">
        <img
          src="../images/bike-logo.svg"
          width="50"
          height="50"
          class="logo"
          alt=""
        />
        The Bike Shop Experience
      </a>
    </nav>

    <nav aria-label="breadcrumb" class="menu">
      <ol class="breadcrumb menu">
        <li class="breadcrumb-item"><a href="/">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="/shop">Basket</a>
        </li>
      </ol>
    </nav>

    <h1 class="basket-title">Confirmation</h1>

    <div class="cancel-box">
      <div>
        <p class="success-message">Your order has been successfully sent!</p>
        <p class="success-text">Your bike(s) will be shipped soon!</p>
      </div>

      <iframe
        src="https://giphy.com/embed/l41lYNASsqlUOt9Xq"
        width="240"
        height="180"
        frameBorder="0"
        id="gif-bicycle"
        allowFullScreen
      ></iframe>

      <a href="/">
        <button class="btn btn-primary" id="btn--cancel">
          <i class="fa-solid fa-arrow-left-long" id="arrow"></i> Back to the
          store
        </button>
      </a>
    </div>

    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
