* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Darker Grotesque", sans-serif;
}

#header-logo,
#header-logo:hover {
  color: white;
}

#picture-header {
  background-image: url("../images/bike-background.jpg");
  background-size: cover;
  background-position: center;
  height: 150px;
  margin-bottom: 20px;
}

.btn {
  margin: 0px !important;
}

.basket-title {
  margin-left: 20px;
}
.card {
  margin-bottom: 20px;
}

.basket-img {
  width: 150px;
}

.price-and-buy {
  gap: 10px;
}

.btn--checkout {
  font-size: 20px;
  font-weight: 600;
}

.menu {
  width: 98%;
  margin: 20px auto;
}

.form-basket {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* justify-items: center; */
  width: 100%;
}

.form-basket input {
  width: 100%;
}

tr {
  background-color: rgb(245, 245, 245);
  font-size: 20px;
}

.white-row {
  background-color: #fff !important;
}

.btn:hover #trash {
  color: #fff;
}

.btn a {
  background-color: red;
  width: 100% !important;
  height: 100% !important;
}
