<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="app">
      <section id="title">
        <h1>My Contacts</h1>
      </section>
      <section id="filters">
        <p>Filters:</p>
        <form>
          <input />
          <input />
        </form>
      </section>
      <section id="contacts">
        <div class="contact">
          <h3>Lebron James</h3>
          <h3>Type: <span>Friend</span></h3>
          <h3>Age: <span>38</span></h3>
          <h3>Email: <span>kingjames@hotmail.com</span></h3>
          <h3>Phone Number: <span>0089136751</span></h3>
        </div>
      </section>
      <section id="add-contact"></section>
    </div>
  </body>
</html>
