html {
  /* Now 1rem = 10px */
  /* (62.5% = 10/16 bc by default font-size=16px and we want font-size=10px) */
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: rgb(53, 128, 0);
  color: #fff;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* HEADER */
header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}

.btn--top,
.btn--top:link,
.btn--top:visited {
  display: inline-block;

  border: none;
  text-decoration: none;
  cursor: pointer;

  /* padding: 1.2rem 2rem; */
  font-size: 4rem;
  /* font-weight: 600; */
  /* text-align: center; */
  border-radius: 50%;

  /* transition: all 0.3s; */
  background-color: rgb(53, 128, 0);
  /* color: #f4fce3; */
}

.btn--top .header-icon {
  color: #f4fce3;
}

.btn--top:hover .header-icon,
.btn--top:active .hdeaer-icon {
  color: #bad08a;
}

/* .btn--return {
}

.btn--instruction {
} */

.total-scores {
  width: 32rem;
  display: flex;
  gap: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-x: scroll; */
  white-space: nowrap;
}

.total-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.player-num {
  font-size: 1.8rem;
}

.player-score {
  font-size: 3.2rem;
}

.leader {
  border: 6px solid rgb(216, 197, 30);
  padding: 1.2rem;
  border-radius: 12px;
}

/* MAIN SECTION */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Title */
.player-title {
  text-align: center;
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Possibilities */
.possibilities-section {
  padding: 0 12.8rem;
  display: flex;
  gap: 9.2rem;
}

.numbers,
.combinations {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.number,
.combination {
  display: flex;
  gap: 2rem;
}

.icon,
.score,
.bonus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
}

.score {
  cursor: pointer;
}

.dice-icon {
  font-size: 6.8rem;
  color: #fff;
}

.house-icon {
  font-size: 3.2rem;
}

.bg-white {
  background-color: #fff;
  color: rgb(53, 128, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.6rem;
  border-radius: 10px;
}

.times {
  font-size: 3rem;
  font-weight: 800;
}

.text {
  font-size: 1.4rem;
  font-weight: 700;
}

.yahtzee {
  font-size: 1.2rem;
  font-weight: 750;
}

.score,
.bonus {
  background-color: #ccc;
  border-radius: 10px;
  color: rgb(53, 128, 0);
  font-size: 3.6rem;
  text-align: center;
  font-weight: 900;
}

.bonus-value {
  font-size: 2.2rem;
}

.selected-possibility {
  border: 8px solid #333;
}

.previous-score {
  background-color: #333;
}

/* Dices */
.dices-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 6rem;
}

.dice-img {
  border-radius: 16px;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
  width: 6rem;
  height: 6rem;
}

.block-dice {
  border: 8px solid #333;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  border: none;
  text-decoration: none;
  cursor: pointer;

  padding: 1.2rem 2rem;
  width: 16rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;

  transition: all 0.3s;
  background-color: #999;
  color: #f4fce3;
}

.btn:hover,
.btn:active {
  background-color: #f4fce3;
  color: #999;
}
.buttons-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

.btn--off,
.btn--off:link,
.btn--off:visited {
  background-color: #ccc;
}

.btn--off:hover,
.btn--off:active {
  background-color: #ccc;
  color: #f4fce3;
}

/* MENUS */
.background-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20rem;

  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: hsla(79, 81%, 94%, 0.671);
}

.btn--num-players,
.btn--num-players:link,
.btn--num-players:visited,
.btn--pause,
.btn--pause:link,
.btn--pause:visited {
  display: inline-block;

  border: none;
  text-decoration: none;
  cursor: pointer;

  padding: 1.8rem 3.2rem;
  font-size: 4.8rem;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;

  transition: all 0.3s;
  background-color: #66a80f;
  color: #f4fce3;
}

.btn--num-players:hover,
.btn--num-players:active,
.btn--pause:hover,
.btn--pause:active {
  background-color: #f4fce3;
  color: #66a80f;
}

/* START MENU */

.start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.game-title {
  font-size: 12rem;
  color: #333;
}

.num-players-title {
  font-size: 4.8rem;
  color: #333;
  padding-bottom: 4.8rem;
}

.yams-icon {
  font-size: 16rem;
  color: #333;
}

.num-players-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

/* PAUSE MENU */
.pause-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.pause-title {
  font-size: 6.4rem;
  font-weight: 600;
  color: #333;
}

.pause-buttons {
  display: flex;
  gap: 4.8rem;
}

.btn--pause,
.btn--pause:link,
.btn--pause:visited {
  width: 28rem;
}

/* SCORE MENU */
.winner-title {
  font-size: 12rem;
  color: #333;
  text-transform: uppercase;
}

.all-scores {
  display: flex;
  gap: 6rem;
}
.one-score {
  background-color: #66a80f;
  padding: 3.2rem 4rem;
  border-radius: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.player--num {
  font-size: 4.8rem;
}

.player--score {
  font-size: 7.2rem;
}

/* RULES */

.rules-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}

.rules-title {
  font-size: 6.4rem;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
}

.rules {
  color: #333;
  font-size: 3.2rem;
  padding: 0 12.8rem;
}
